*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mine{
    width: 765px;
    height: 495px;
    margin: 100px auto;
    display: flex;
    gap: 3px;
}
.icon{
    display: flex;
    gap: 15px;
    margin: 10px;
}
.icon img{
    width: 20px;
    height: 20px;
}
.sing-in{
    width: 380px;
    height: 490px;
    display: flex;
   flex-direction: column;
   align-items: center;
   background: grey;
   border-radius: 10px;
}
.sing-in h1{
    margin-top: 80px ;
    
}
.inp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.inp input{
    padding-left: 5px;
    width: 240px;
    border: 2px solid grey;
    border-radius: 5px;
    height: 30px;
}
.sing-in a{
    text-decoration: none;
    margin-top: 10px;
    color: #000;
}
.buttonn{
    margin-top: 10px;
}
.buttonn button{
    border: none;
    border-radius: 20px;
    background-color: aqua;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.create-acount{
    width: 380px;
    height: 490px;
    display: flex;
   flex-direction: column;
   align-items: center;
   background: grey;
   border-radius: 10px;
}
.create-acount h1{
    margin-top: 80px ;
    
}
.create-acount a{
    text-decoration: none;
    margin-top: 10px;
    color: #000;
}

.block{
    
        width: 380px;
        height: 490px;
        display: flex;
       flex-direction: column;
       align-items: center;
       background: grey;
       border-radius: 10px;
        position: absolute;
        text-align: center;
        margin-left: 385px;
}

.right-btn{
    border: none;
    border-radius: 20px;
    background-color: aqua;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;   
    margin-top: 15px
}

.right h1{
    margin-top: 180px;
    color: #fff;
}

.right p {
    margin-top: 10px;
}

.left-btn{
    border: none;
    border-radius: 20px;
    background-color: aqua;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;   
    margin-top: 15px
}

.left h1{
    margin-top: 180px;
}

.left p {
    margin-top: 10px;
}
.left{
    display: none;
}
.left-anim{
    transform: translateX(-385px);
    transition: transform 1s ease-in-out;
}
.right-anim{
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.active{
    display: block;
}
.deactive{
    display: none;
}
